.chart {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-border-color: #ddd;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.chart-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

.axis {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.line-chart .chart-series-line {
    -fx-stroke-width: 2px;
}

.line-chart .default-color0.chart-series-line {
    -fx-stroke: #FF5722; /* Laranja */
}

.line-chart .default-color1.chart-series-line {
    -fx-stroke: #4CAF50; /* Verde */
}

.line-chart .default-color2.chart-series-line {
    -fx-stroke: #2196F3; /* Azul */
}
